extends partials/layout

//- Override default config variables
append config
  - var styles = ['vendor/swiper/swiper-bundle.min.css', 'vendor/aos/dist/aos.css']
  - var scripts = ['vendor/parallax-js/dist/parallax.min.js', 'vendor/swiper/swiper-bundle.min.js', 'vendor/aos/dist/aos.js']
  - var parentMenu = 'Landings'
  - var pageTitle = 'SaaS v.2'
  - var buttonShape = 'rounded-pill'


//- Navbar
block navbar
  .dark-mode
    include partials/navbar.pug


//- Page Content
block content

  // Hero
  section.bg-dark.dark-mode.d-flex.min-vh-100.position-relative.overflow-hidden.py-5
    .container.d-flex.flex-column.justify-content-center.position-relative.zindex-2.pt-sm-3.pt-md-4.pt-xl-5.pb-1.pb-sm-3.pb-lg-4.pb-xl-5
      .row.flex-lg-nowrap.align-items-center.pb-5.pt-2.pt-lg-4.pt-xl-0.mt-lg-4.mt-xl-0
        .col-lg-7.order-lg-2.ms-lg-4.mb-2.mb-lg-0
          .parallax.order-lg-2.mx-auto(style='max-width: 740px;')
            .parallax-layer(data-depth='0.05')
              img(src='assets/img/landing/saas-2/hero/01.png' alt='Layer')
            .parallax-layer(data-depth='-0.05')
              img(src='assets/img/landing/saas-2/hero/02.png' style='animation: rotate-cw 100s linear infinite;' alt='Layer')
            .parallax-layer.zindex-2(data-depth='0.3')
              img(src='assets/img/landing/saas-2/hero/03.png' alt='Layer')
            .parallax-layer.zindex-2(data-depth='0.15')
              img(src='assets/img/landing/saas-2/hero/04.png' alt='Layer')
            .parallax-layer.zindex-2(data-depth='0.4')
              img(src='assets/img/landing/saas-2/hero/05.png' alt='Layer')
        .col-lg-5.order-lg-1.text-center.text-lg-start.me-xl-5
          span.badge.bg-faded-warning.text-warning.fs-sm Take your data to the next level&nbsp; 🚀
          h1.display-4.py-3.my-2.mb-xl-3 The platform to manage business
          ul.list-unstyled.d-table.text-start.mx-auto.mx-lg-0.mb-0
            li.d-flex.pb-2.mb-1
              i.ai-check-alt.text-primary.lead.me-2
              | Segmenting the audience is easy and simple
            li.d-flex.pb-2.mb-1
              i.ai-check-alt.text-primary.lead.me-2
              | Functional dashboard for managing your data
            li.d-flex.pb-2.mb-1
              i.ai-check-alt.text-primary.lead.me-2
              | Key performance indicators of team interaction
          .d-flex.justify-content-center.justify-content-lg-start.pt-4.pt-xl-5
            .text-center
              a(href='#').btn.btn-lg.btn-primary.rounded-pill.w-100.w-sm-auto
                | Start free 14-day trial
              p.fs-sm.pt-2.mt-sm-1.mb-0 100% free to get started!
      .row.row-cols-3.row-cols-sm-4.row-cols-lg-5.row-cols-xl-6.justify-content-center.align-items-center.g-4.pt-lg-3.pt-xl-4
        .col
          img(src='assets/img/landing/saas-1/brands/foster-light.svg' width='145' alt='Foster').d-block.my-1.mx-auto
        .col
          img(src='assets/img/landing/saas-1/brands/klinos-light.svg' width='140' alt='Klinos').d-block.my-1.mx-auto
        .col
          img(src='assets/img/landing/saas-1/brands/champion-light.svg' width='160' alt='Champion').d-block.my-1.mx-auto
        .col
          img(src='assets/img/landing/saas-1/brands/airbnb-light.svg' width='130' alt='Airbnb').d-block.my-1.mx-auto
        .col
          img(src='assets/img/landing/saas-1/brands/starcraft-light.svg' width='160' alt='Starcraft').d-block.my-1.mx-auto
        .col
          img(src='assets/img/landing/saas-1/brands/alpine-light.svg' width='150' alt='Alpine').d-block.my-1.mx-auto


  // Features
  section.bg-secondary.py-5
    .container.mt-1.py-md-2.py-lg-4.py-xxl-5
      h2.h1.text-center.pt-1.pt-sm-4 Take your data to the next level
      p(style='max-width: 480px;').text-center.mx-auto.pb-3.mb-3.mb-lg-4 Using basic data skills you can analysis and improve your business indicators with Around
      .row.g-4.pb-2.pb-sm-4.mb-sm-2

        // Item
        .col-md-5
          .card.border-0.h-100
            .card-body
              a(href='#')
                img(src='assets/img/landing/saas-2/features/01-light.png' alt='Image').d-dark-mode-none
                img(src='assets/img/landing/saas-2/features/01-dark.png' alt='Image').d-none.d-dark-mode-block
              .pt-3.mt-2.mt-lg-3
                h3 Simple control panel
                p.mb-0 Dashboard is to present analytical data in a compact form on one page for easy to interpret.
        
        // Item
        .col-md-7
          .card.border-0.h-100
            .card-body.overflow-hidden
              .d-sm-flex.align-items-center
                a(href='#').d-block.order-sm-2.flex-shrink-0.mt-n4.mb-n2
                  img(src='assets/img/landing/saas-2/features/02.png' width='308' alt='Image')
                .order-sm-1.pe-sm-3.me-xl-4
                  h3 Segmentation by various methods
                  p.pb-3.mb-1.mb-xl-3 Segmentation allows you to divide users according to a given criterion, and then for each of the groups to develop an advertisement and product.
                  a(href='#').btn.btn-link.p-0
                    | Learn more
                    i.ai-arrow-right.ms-2
        
        // Item
        .col-md-7
          .card.border-0.h-100
            .card-body.overflow-hidden
              .d-sm-flex.align-items-center
                a(href='#').d-block.order-sm-2.flex-shrink-0.mt-n4.mb-n2
                  img(src='assets/img/landing/saas-2/features/03-light.png' width='308' alt='Image').d-dark-mode-none
                  img(src='assets/img/landing/saas-2/features/03-dark.png' width='308' alt='Image').d-none.d-dark-mode-block
                .order-sm-1.pe-sm-3.me-xl-4
                  h3 Key performance indicators
                  p.pb-3.mb-1.mb-xl-3 You can easily identify interdependencies between different indicators, identify tendencies and prevent potential difficulties and problems.
                  a(href='#').btn.btn-link.p-0
                    | Learn more
                    i.ai-arrow-right.ms-2
        
        // Item
        .col-md-5
          .card.border-0.h-100
            .card-body
              a(href='#')
                img(src='assets/img/landing/saas-2/features/04-light.png' alt='Image').d-dark-mode-none
                img(src='assets/img/landing/saas-2/features/04-dark.png' alt='Image').d-none.d-dark-mode-block
              .pt-3.mt-2.mt-lg-3
                h3 Forecasting efficiency
                p.mb-0 Before launching any marketing activity, you need to assess how successful and effective it can be.


  // How it works (Steps)
  section.overflow-hidden.pt-5.mt-md-3.mt-lg-2.mt-xl-4.mt-xxl-5
    .container.pt-2.pt-sm-4.pt-lg-5
      h2.h1.text-center.pb-3.mb-3.mb-lg-4 How does it work?
      
      // Step
      .row.align-items-center.position-relative.pb-5.pb-lg-0.mb-1.mb-sm-2.mb-md-4.mb-lg-0
        .col-md-6.col-xl-5.offset-lg-1.order-md-2.pb-2.pb-md-0.mb-4.mb-md-0(data-aos='fade-left' data-aos-duration='500' data-aos-offset='250' data-disable-parallax-down='md')
          img(src='assets/img/landing/saas-2/steps/01-light.png' width='525' alt='Image').d-dark-mode-none
          img(src='assets/img/landing/saas-2/steps/01-dark.png' width='525' alt='Image').d-none.d-dark-mode-block
        .col-md-6.col-lg-5.col-xl-4.offset-xl-1.order-md-1(data-aos='fade-right' data-aos-duration='500' data-aos-offset='250' data-disable-parallax-down='md')
          .pe-md-4.pe-lg-0
            span.badge.fs-sm.bg-faded-primary.text-primary.mb-3.mb-lg-4 Step 01
            h3.h2.mb-3.mb-lg-4 Connect your site to the platform using a code
            p.pb-1.pb-lg-0.mb-4.mb-lg-5 Nec id eget malesuada urna at sed est adipiscing auctor at massa id duis fames ut condimentum velit est, donec mauris tortor massa et viverra.
            a(href='#').btn.btn-outline-primary.rounded-pill Get connected
      
      // Arrow
      .d-none.d-lg-flex.justify-content-center(data-aos='fade-in' data-aos-duration='500' data-aos-offset='250')
        svg(width='339' height='365' viewBox='0 0 339 365' fill='none' xmlns='http://www.w3.org/2000/svg' style='margin-left: -150px; margin-top: -140px; margin-bottom: -108px;').d-block.text-primary
          path(d='M324 291.371C120.111 291.37 240.756 58.7225 1.00032 73.2606' stroke='url(#arrow1)' stroke-width='2' stroke-linecap='round' stroke-dasharray='6 6')
          path(d='M337.375 290.62C338.074 290.998 338.074 292.001 337.375 292.379L328.476 297.196C327.81 297.557 327 297.074 327 296.317L327 286.683C327 285.925 327.81 285.443 328.476 285.803L337.375 290.62Z' fill='currentColor')
          defs
            linearGradient(id='arrow1' x1='324' y1='291.5' x2='-2.99974' y2='72.4997' gradientUnits='userSpaceOnUse')
              stop(offset='0' stop-color='currentColor')
              stop(offset='1' stop-color='currentColor' stop-opacity='0')
      
      // Step
      .row.align-items-center.position-relative.pb-5.pb-lg-0.mb-1.mb-sm-2.mb-md-4.mb-lg-0
        .col-md-6.col-xl-5.offset-xl-1.pb-2.pb-md-0.mb-4.mb-md-0(data-aos='fade-right' data-aos-duration='500' data-aos-offset='250' data-disable-parallax-down='md')
          img(src='assets/img/landing/saas-2/steps/02-light.png' width='473' alt='Image').d-dark-mode-none
          img(src='assets/img/landing/saas-2/steps/02-dark.png' width='473' alt='Image').d-none.d-dark-mode-block
        .col-md-6.col-lg-5.col-xl-4.offset-lg-1(data-aos='fade-left' data-aos-duration='500' data-aos-offset='250' data-disable-parallax-down='md')
          .ps-md-4.ps-lg-0
            span.badge.fs-sm.bg-faded-primary.text-primary.mb-3.mb-lg-4 Step 02
            h3.h2.mb-3.mb-lg-4 Set up important dashboard metrics
            ul.list-unstyled.mb-0
              li.d-flex.pt-1.mt-2
                i.ai-check-alt.text-primary.fs-4.mt-n1.me-2
                | Forecasting and recommendations
              li.d-flex.pt-1.mt-2
                i.ai-check-alt.text-primary.fs-4.mt-n1.me-2
                | Identification of patterns, analysis
              li.d-flex.pt-1.mt-2
                i.ai-check-alt.text-primary.fs-4.mt-n1.me-2
                | Segmentation by various methods
      
      // Arrow
      .d-none.d-lg-flex.justify-content-center(data-aos='fade-in' data-aos-duration='500' data-aos-offset='250')
        svg(width='263' height='275' viewBox='0 0 263 275' fill='none' xmlns='http://www.w3.org/2000/svg' style='margin-top: -60px; margin-left: -120px; margin-bottom: -80px;').d-block.text-primary
          path(d='M8.13678 249.647C7.47108 250.081 6.59001 249.602 6.59106 248.808L6.60444 238.689C6.60544 237.931 7.4158 237.45 8.08162 237.811L16.5478 242.408C17.2136 242.77 17.2512 243.712 16.6163 244.125L8.13678 249.647Z' fill='currentColor')
          path(d='M261.961 37.8891C216.908 65.6243 128.226 135.486 133.916 193.05C141.029 265.005 265.134 173.468 173.666 148.634C89.2542 125.715 30.9125 210.547 13.9796 236.702' stroke='url(#arrow2)' stroke-width='2' stroke-linecap='round' stroke-dasharray='6 6')
          defs
            linearGradient(id='arrow2' x1='13.9797' y1='234.5' x2='276.704' y2='60.1939' gradientUnits='userSpaceOnUse')
              stop(offset='0' stop-color='currentColor')
              stop(offset='1' stop-color='currentColor' stop-opacity='0')
      
      // Step
      .row.align-items-center.position-relative
        .col-md-6.col-xl-5.offset-lg-1.order-md-2.d-md-flex.justify-content-end.pb-2.pb-md-0.mb-4.mb-md-0(data-aos='fade-left' data-aos-duration='500' data-aos-offset='250' data-disable-parallax-down='md')
          img(src='assets/img/landing/saas-2/steps/03-light.png' width='473' alt='Image').d-dark-mode-none
          img(src='assets/img/landing/saas-2/steps/03-dark.png' width='473' alt='Image').d-none.d-dark-mode-block
        .col-md-6.col-lg-5.col-xl-4.offset-xl-1.order-md-1(data-aos='fade-right' data-aos-duration='500' data-aos-offset='250' data-disable-parallax-down='md')
          .pe-md-4.pe-lg-0
            span.badge.fs-sm.bg-faded-primary.text-primary.mb-3.mb-lg-4 Step 03
            h3.h2.mb-3.mb-lg-4 Download the data in a convenient format
            p.pb-1.pb-lg-0.mb-4.mb-lg-5 Bibendum velit mi, ac sed ac malesuada ultrices non lectus mi pellentesque vel at tempus cras sed a eleifend augue amet mauris, leo ac amet erat.
            a(href='#').btn.btn-outline-primary.rounded-pill Get connected


  // Testimonials + CTA
  section.container.pt-5.mt-md-3.mt-lg-2.mt-xl-4.mt-xxl-5
    .row.align-items-center.mt-2.pt-2.pt-sm-4.pt-lg-5

      // Testimonials
      .col-md-7.col-lg-6
        .card.border-0.bg-secondary.py-1.p-lg-4
          .card-body
            .swiper(data-swiper-options=`
              {
                "spaceBetween": 30,
                "loop": true,
                "navigation": {
                  "prevEl": "#prev-testimonial",
                  "nextEl": "#next-testimonial"
                }
              }
            `)
              .swiper-wrapper

                // Item
                .swiper-slide
                  p.lead.text-dark.pb-3.mb-3 "Around provides us with the detailed and accurate data we need to make strategic decisions. All tools are constantly being improved and contain a lot of useful and interesting information. Thanks to Around, we can constantly analyze data quickly, efficiently."
                  .d-flex.align-items-center
                    img(src='assets/img/avatar/30.jpg' width='60' alt='Jenny Wilson').rounded-circle
                    .ps-3
                      h3.h4.mb-0 Jenny Wilson
                      .fs-lg.text-muted Head of Marketing

                // Item
                .swiper-slide
                  p.lead.text-dark.pb-3.mb-3 "Turpis augue pulvinar est adipiscing netus. Arcu at aliquet venenatis elementum. Mi at gravida id nullam imperdiet a proin dolor. Egestas facilisis venenatis quisque viverra donec et. Augue convallis eu a volutpat sed ullamcorper. At dictumst sapien, tristique vitae nec massa."
                  .d-flex.align-items-center
                    img(src='assets/img/avatar/31.jpg' width='60' alt='Esther Howard').rounded-circle
                    .ps-3
                      h3.h4.mb-0 Esther Howard
                      .fs-lg.text-muted CEO, Co-Founder

                // Item
                .swiper-slide
                  p.lead.text-dark.pb-3.mb-3 "Cursus fames sollicitudin nunc eget sceler tortor. Sem amet, velit posuere ipsum id. Mi feugiat at vulputate vel pellentesque proin viverra. Massa, tellus orci, aenean nulla leo maecenas sed. Magna at aliquam dictum velit dolor phasellus donec et mi. Aenean adipiscing amet mauris."
                  .d-flex.align-items-center
                    img(src='assets/img/avatar/32.jpg' width='60' alt='Nick Wenirten').rounded-circle
                    .ps-3
                      h3.h4.mb-0 Nick Wenirten
                      .fs-lg.text-muted Web Developer
        .d-flex.justify-content-center.justify-content-md-end.pt-4
          button(type='button')#prev-testimonial.btn.btn-icon.btn-sm.btn-outline-primary.rounded-circle.me-3
            i.ai-arrow-left
          button(type='button')#next-testimonial.btn.btn-icon.btn-sm.btn-outline-primary.rounded-circle
            i.ai-arrow-right
      
      // CTA
      .col-md-5.col-xl-4.offset-lg-1.pt-2.pt-md-0.mt-5.mt-md-n5
        .ps-md-4.ps-lg-0
          h2.h1.mb-4 More than 2,000 clients use Around for data analysis
          ul.list-unstyled.pb-2.pb-lg-0.mb-4.mb-lg-5
            li.d-flex.pt-1.mt-2
              i.ai-check-alt.text-primary.fs-4.mt-n1.me-2
              | 24/7 customer support
            li.d-flex.pt-1.mt-2
              i.ai-check-alt.text-primary.fs-4.mt-n1.me-2
              | Lifetime update
            li.d-flex.pt-1.mt-2
              i.ai-check-alt.text-primary.fs-4.mt-n1.me-2
              | Forecasting and recommendations
          a(href='#').btn.btn-lg.btn-primary.rounded-pill Start free 14-day trial


  // Benefits
  section.container.pt-5.mt-md-3.mt-lg-2.mt-xl-4.mt-xxl-5
    h2.h1.text-center.pt-3.pt-sm-4.pt-lg-5.pb-3.mb-3.mb-lg-4 Our benefits
    .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-4

      // Item
      .col
        .card.card-flip
          .card-flip-inner
            .card-flip-front.bg-secondary.rounded-5.py-2.py-lg-4.px-0
              .card-body.text-center
                svg(width='40' height='40' viewBox='0 0 40 40' fill='currentColor' xmlns='http://www.w3.org/2000/svg').d-block.text-primary.mb-4.mx-auto
                  path(d='M37.805 15.6567L34.6717 15.2583C34.4133 14.4633 34.095 13.6967 33.7233 12.9683L35.6583 10.4767C36.4417 9.46833 36.35 8.045 35.455 7.17833L32.83 4.55333C31.955 3.65 30.5317 3.56 29.5217 4.34167L27.0333 6.27667C26.305 5.905 25.5383 5.58667 24.7417 5.32833L24.3433 2.2C24.1933 0.945 23.1283 0 21.8667 0H18.1333C16.8717 0 15.8067 0.945 15.6567 2.195L15.2583 5.32833C14.4617 5.58667 13.695 5.90333 12.9667 6.27667L10.4767 4.34167C9.47 3.56 8.04667 3.65 7.17833 4.545L4.55333 7.16833C3.65 8.045 3.55833 9.46833 4.34167 10.4783L6.27667 12.9683C5.90333 13.6967 5.58667 14.4633 5.32833 15.2583L2.2 15.6567C0.945 15.8067 0 16.8717 0 18.1333V21.8667C0 23.1283 0.945 24.1933 2.195 24.3433L5.32833 24.7417C5.58667 25.5367 5.905 26.3033 6.27667 27.0317L4.34167 29.5233C3.55833 30.5317 3.65 31.955 4.545 32.8217L7.17 35.4467C8.04667 36.3483 9.46833 36.4383 10.4783 35.6567L12.9683 33.7217C13.6967 34.095 14.4633 34.4133 15.2583 34.67L15.6567 37.7967C15.8067 39.055 16.8717 40 18.1333 40H21.8667C23.1283 40 24.1933 39.055 24.3433 37.805L24.7417 34.6717C25.5367 34.4133 26.3033 34.095 27.0317 33.7233L29.5233 35.6583C30.5317 36.4417 31.955 36.35 32.8217 35.455L35.4467 32.83C36.35 31.9533 36.4417 30.5317 35.6583 29.5217L33.7233 27.0317C34.0967 26.3033 34.415 25.5367 34.6717 24.7417L37.7983 24.3433C39.0533 24.1933 39.9983 23.1283 39.9983 21.8667V18.1333C40 16.8717 39.055 15.8067 37.805 15.6567ZM20 28.3333C15.405 28.3333 11.6667 24.595 11.6667 20C11.6667 15.405 15.405 11.6667 20 11.6667C24.595 11.6667 28.3333 15.405 28.3333 20C28.3333 24.595 24.595 28.3333 20 28.3333Z')
                h3 Support
                p.card-text Around users and partners can count on 24/7 technical assistance, as well as the help of the technical analytics department and teams of specialized experts.
            .card-flip-back.bg-primary.rounded-5.py-2.py-lg-4.px-0
              .card-body.text-center
                svg(width='32' height='32' viewBox='0 0 32 32' fill='currentColor' xmlns='http://www.w3.org/2000/svg').d-block.text-white.mt-2.mt-lg-n4.mb-4.mx-auto
                  path(d='M30.244 12.5253L27.7373 12.2067C27.5307 11.5707 27.276 10.9573 26.9787 10.3747L28.5267 8.38133C29.1533 7.57467 29.08 6.436 28.364 5.74267L26.264 3.64267C25.564 2.92 24.4253 2.848 23.6173 3.47333L21.6267 5.02133C21.044 4.724 20.4307 4.46933 19.7933 4.26267L19.4747 1.76C19.3547 0.756 18.5027 0 17.4933 0H14.5067C13.4973 0 12.6453 0.756 12.5253 1.756L12.2067 4.26267C11.5693 4.46933 10.956 4.72267 10.3733 5.02133L8.38133 3.47333C7.576 2.848 6.43733 2.92 5.74267 3.636L3.64267 5.73467C2.92 6.436 2.84667 7.57467 3.47333 8.38267L5.02133 10.3747C4.72267 10.9573 4.46933 11.5707 4.26267 12.2067L1.76 12.5253C0.756 12.6453 0 13.4973 0 14.5067V17.4933C0 18.5027 0.756 19.3547 1.756 19.4747L4.26267 19.7933C4.46933 20.4293 4.724 21.0427 5.02133 21.6253L3.47333 23.6187C2.84667 24.4253 2.92 25.564 3.636 26.2573L5.736 28.3573C6.43733 29.0787 7.57467 29.1507 8.38267 28.5253L10.3747 26.9773C10.9573 27.276 11.5707 27.5307 12.2067 27.736L12.5253 30.2373C12.6453 31.244 13.4973 32 14.5067 32H17.4933C18.5027 32 19.3547 31.244 19.4747 30.244L19.7933 27.7373C20.4293 27.5307 21.0427 27.276 21.6253 26.9787L23.6187 28.5267C24.4253 29.1533 25.564 29.08 26.2573 28.364L28.3573 26.264C29.08 25.5627 29.1533 24.4253 28.5267 23.6173L26.9787 21.6253C27.2773 21.0427 27.532 20.4293 27.7373 19.7933L30.2387 19.4747C31.2427 19.3547 31.9987 18.5027 31.9987 17.4933V14.5067C32 13.4973 31.244 12.6453 30.244 12.5253ZM16 22.6667C12.324 22.6667 9.33333 19.676 9.33333 16C9.33333 12.324 12.324 9.33333 16 9.33333C19.676 9.33333 22.6667 12.324 22.6667 16C22.6667 19.676 19.676 22.6667 16 22.6667Z')
                .h3.display-4.text-white.pb-1.mb-2 24/7
                p.card-text.text-white.opacity-70 Around users and partners can count on 24/7 technical assistance, as well as the help of the technical analytics department and teams of specialized experts.

      // Item
      .col
        .card.card-flip
          .card-flip-inner
            .card-flip-front.bg-secondary.rounded-5.py-2.py-lg-4.px-0
              .card-body.text-center
                svg(width='40' height='40' viewBox='0 0 40 40' fill='currentColor' xmlns='http://www.w3.org/2000/svg').d-block.text-danger.mb-4.mx-auto
                  path(d='M37.0833 13.3335H2.91669C1.31669 13.3335 0 14.6502 0 16.2502V37.0835C0 38.6835 1.31669 40.0002 2.91669 40.0002H37.0834C38.6834 40.0002 40.0001 38.6835 40.0001 37.0835V16.2502C40 14.6502 38.6833 13.3335 37.0833 13.3335ZM35 21.2502V32.0835C35 33.6835 33.7 35.0002 32.0833 35.0002H22.9167C21.3 35.0002 20 33.6835 20 32.0835V21.2502C20 19.6502 21.3 18.3335 22.9167 18.3335H32.0834C33.7 18.3335 35 19.6502 35 21.2502ZM15.4167 27.5002H6.25C5.56669 27.5002 5 26.9335 5 26.2502C5 25.5669 5.56669 25.0002 6.25 25.0002H15.4167C16.1 25.0002 16.6667 25.5669 16.6667 26.2502C16.6667 26.9335 16.1 27.5002 15.4167 27.5002ZM16.6667 31.2502C16.6667 31.9335 16.1 32.5002 15.4167 32.5002H6.25C5.56669 32.5002 5 31.9335 5 31.2502C5 30.5669 5.56669 30.0002 6.25 30.0002H15.4167C16.1 30.0002 16.6667 30.5669 16.6667 31.2502ZM15.4167 22.5002H6.25C5.56669 22.5002 5 21.9335 5 21.2502C5 20.5669 5.56669 20.0002 6.25 20.0002H15.4167C16.1 20.0002 16.6667 20.5669 16.6667 21.2502C16.6667 21.9335 16.1 22.5002 15.4167 22.5002Z')
                  path(d='M37.0859 0H16.2526C14.6443 0 13.3359 1.30835 13.3359 2.91669V7.08339C13.3359 8.69173 14.6443 10.0001 16.2526 10.0001H37.0859C38.6943 10 40.0026 8.69165 40.0026 7.08331V2.91669C40.0026 1.30835 38.6943 0 37.0859 0Z')
                  path(d='M5 10C7.76142 10 10 7.76142 10 5C10 2.23858 7.76142 0 5 0C2.23858 0 0 2.23858 0 5C0 7.76142 2.23858 10 5 10Z')
                h3 Individual dashboard
                p.card-text You can easily identify interdependencies between different indicators, identify tendencies and prevent potential difficulties and problems.
            .card-flip-back.bg-danger.rounded-5.py-2.py-lg-4.px-0
              .card-body.text-center
                svg(width='32' height='32' viewBox='0 0 32 32' fill='currentColor' xmlns='http://www.w3.org/2000/svg').d-block.text-white.mt-2.mt-lg-n4.mb-4.mx-auto
                  path(d='M29.6664 10.667H2.33334C1.05335 10.667 0 11.7203 0 13.0003V29.6669C0 30.9468 1.05335 32.0002 2.33334 32.0002H29.6665C30.9465 32.0002 31.9998 30.9468 31.9998 29.6669V13.0003C31.9998 11.7203 30.9464 10.667 29.6664 10.667ZM27.9998 17.0003V25.6669C27.9998 26.9469 26.9598 28.0002 25.6665 28.0002H18.3332C17.0399 28.0002 15.9999 26.9469 15.9999 25.6669V17.0003C15.9999 15.7203 17.0399 14.667 18.3332 14.667H25.6665C26.9598 14.667 27.9998 15.7203 27.9998 17.0003ZM12.3333 22.0003H4.99997C4.45332 22.0003 3.99997 21.5469 3.99997 21.0003C3.99997 20.4536 4.45332 20.0003 4.99997 20.0003H12.3333C12.8799 20.0003 13.3333 20.4536 13.3333 21.0003C13.3333 21.5469 12.8799 22.0003 12.3333 22.0003ZM13.3333 25.0002C13.3333 25.5469 12.8799 26.0002 12.3333 26.0002H4.99997C4.45332 26.0002 3.99997 25.5469 3.99997 25.0002C3.99997 24.4536 4.45332 24.0003 4.99997 24.0003H12.3333C12.8799 24.0003 13.3333 24.4536 13.3333 25.0002ZM12.3333 18.0003H4.99997C4.45332 18.0003 3.99997 17.5469 3.99997 17.0003C3.99997 16.4537 4.45332 16.0003 4.99997 16.0003H12.3333C12.8799 16.0003 13.3333 16.4537 13.3333 17.0003C13.3333 17.5469 12.8799 18.0003 12.3333 18.0003Z')
                  path(d='M29.6639 0H12.9974C11.7107 0 10.6641 1.04667 10.6641 2.33334V5.66667C10.6641 6.95334 11.7107 8.00001 12.9974 8.00001H29.6639C30.9506 7.99994 31.9973 6.95327 31.9973 5.66661V2.33334C31.9973 1.04667 30.9506 0 29.6639 0Z')
                  path(d='M3.99997 7.99994C6.2091 7.99994 7.99994 6.2091 7.99994 3.99997C7.99994 1.79085 6.2091 0 3.99997 0C1.79085 0 0 1.79085 0 3.99997C0 6.2091 1.79085 7.99994 3.99997 7.99994Z')
                .h3.display-4.text-white.pb-1.mb-2 136
                p.card-text.text-white.opacity-70 You can easily identify interdependencies between different indicators, identify tendencies and prevent potential difficulties and problems.

      // Item
      .col
        .card.card-flip
          .card-flip-inner
            .card-flip-front.bg-secondary.rounded-5.py-2.py-lg-4.px-0
              .card-body.text-center
                svg(width='40' height='40' viewBox='0 0 40 40' fill='currentColor' xmlns='http://www.w3.org/2000/svg').d-block.text-info.mb-4.mx-auto
                  path(d='M1.11125 25.5903H5.55542C6.16903 25.5903 6.66667 26.0876 6.66667 26.7012V37.8124C6.66667 38.426 6.16903 38.9237 5.55542 38.9237H1.11125C0.49764 38.9237 0 38.426 0 37.8124V26.7012C0 26.0876 0.49764 25.5903 1.11125 25.5903Z')
                  path(d='M12.2202 16.7012H16.6648C17.2784 16.7012 17.776 17.1988 17.776 17.8124V37.8124C17.776 38.426 17.2784 38.9237 16.6648 38.9237H12.2202C11.6066 38.9237 11.1094 38.426 11.1094 37.8124V17.8124C11.1094 17.1988 11.6066 16.7012 12.2202 16.7012Z')
                  path(d='M23.33 21.146H27.7746C28.3882 21.146 28.8854 21.6436 28.8854 22.2572V37.8127C28.8854 38.4263 28.3882 38.9239 27.7746 38.9239H23.33C22.7164 38.9239 22.2188 38.4263 22.2188 37.8127V22.2572C22.2188 21.6436 22.7164 21.146 23.33 21.146Z')
                  path(d='M34.4472 14.479H38.8914C39.505 14.479 40.0026 14.9766 40.0026 15.5903V37.8123C40.0026 38.4259 39.505 38.9236 38.8914 38.9236H34.4472C33.8336 38.9236 33.3359 38.4259 33.3359 37.8123V15.5903C33.3359 14.9766 33.8336 14.479 34.4472 14.479Z')
                  path(d='M36.6667 1.146C34.8267 1.14803 33.3354 2.63932 33.3333 4.47933C33.3378 4.84228 33.4021 5.20199 33.5238 5.54378L27.9614 8.85026C27.2314 8.07593 26.1731 7.70076 25.1184 7.84196C24.0633 7.98315 23.1413 8.62362 22.6404 9.56274L17.7344 7.13273C17.7584 6.98991 17.7726 6.84587 17.7779 6.70142C17.7804 5.35213 16.9694 4.13468 15.7235 3.6167C14.4775 3.09912 13.0424 3.38354 12.0882 4.33732C11.1336 5.2911 10.8484 6.72583 11.3656 7.97217L5.00163 12.7215C4.49707 12.4208 3.9209 12.2605 3.33333 12.2572C1.49251 12.2572 0 13.7493 0 15.5906C0 17.4314 1.49251 18.9239 3.33333 18.9239C5.17415 18.9239 6.66667 17.4314 6.66667 15.5906C6.66382 15.1894 6.58813 14.7926 6.44328 14.4187L12.8707 9.62174C14.128 10.3228 15.6962 10.1173 16.7301 9.11556L22.3092 11.8788C22.6811 13.5353 24.2399 14.647 25.9273 14.459C27.6147 14.271 28.8908 12.844 28.8888 11.146C28.8888 11.0614 28.87 10.9816 28.8639 10.8986L34.9137 7.302C35.4382 7.63363 36.0457 7.81063 36.6667 7.81266C38.5075 7.81266 40 6.32015 40 4.47933C40 2.63851 38.5075 1.146 36.6667 1.146Z')
                h3 Reliable data
                p.card-text Thanks to our platform, developed using advanced data management methods, data quality reaches 100%, which is 20% better than other platforms.
            .card-flip-back.bg-info.rounded-5.py-2.py-lg-4.px-0
              .card-body.text-center
                svg(width='32' height='32' viewBox='0 0 32 32' fill='currentColor' xmlns='http://www.w3.org/2000/svg').d-block.text-white.mt-2.mt-lg-n4.mb-4.mx-auto
                  path(d='M0.888997 20.4722H4.44434C4.93522 20.4722 5.33333 20.87 5.33333 21.3608V30.2498C5.33333 30.7407 4.93522 31.1388 4.44434 31.1388H0.888997C0.398112 31.1388 0 30.7407 0 30.2498V21.3608C0 20.87 0.398112 20.4722 0.888997 20.4722Z')
                  path(d='M9.7793 13.3608H13.335C13.8258 13.3608 14.224 13.759 14.224 14.2498V30.2498C14.224 30.7407 13.8258 31.1388 13.335 31.1388H9.7793C9.28841 31.1388 8.89062 30.7407 8.89062 30.2498V14.2498C8.89062 13.759 9.28841 13.3608 9.7793 13.3608Z')
                  path(d='M18.6702 16.9165H22.2259C22.7168 16.9165 23.1146 17.3146 23.1146 17.8055V30.2498C23.1146 30.7407 22.7168 31.1388 22.2259 31.1388H18.6702C18.1794 31.1388 17.7812 30.7407 17.7812 30.2498V17.8055C17.7812 17.3146 18.1794 16.9165 18.6702 16.9165V16.9165Z')
                  path(d='M27.5531 11.5835H31.1084C31.5993 11.5835 31.9974 11.9816 31.9974 12.4725V30.2502C31.9974 30.7411 31.5993 31.1392 31.1084 31.1392H27.5531C27.0622 31.1392 26.6641 30.7411 26.6641 30.2502V12.4725C26.6641 11.9816 27.0622 11.5835 27.5531 11.5835V11.5835Z')
                  path(d='M29.3333 0.916504C27.8613 0.918132 26.6683 2.11117 26.6667 3.58317C26.6702 3.87353 26.7217 4.1613 26.819 4.43473L22.3691 7.07991C21.7852 6.46045 20.9385 6.16032 20.0947 6.27327C19.2507 6.38623 18.513 6.8986 18.1123 7.6499L14.1875 5.70589C14.2067 5.59163 14.2181 5.4764 14.2223 5.36084C14.2243 4.28141 13.5755 3.30745 12.5788 2.89307C11.582 2.479 10.4339 2.70654 9.67057 3.46956C8.9069 4.23258 8.67871 5.38037 9.09245 6.37744L4.0013 10.1769C3.59766 9.93636 3.13672 9.8081 2.66667 9.8055C1.19401 9.8055 0 10.9992 0 12.4722C0 13.9448 1.19401 15.1388 2.66667 15.1388C4.13932 15.1388 5.33333 13.9448 5.33333 12.4722C5.33105 12.1512 5.27051 11.8338 5.15462 11.5347L10.2965 7.6971C11.3024 8.25797 12.557 8.09359 13.3841 7.29215L17.8473 9.50277C18.1449 10.828 19.3919 11.7173 20.7419 11.5669C22.0918 11.4165 23.1126 10.2749 23.111 8.9165C23.111 8.84879 23.096 8.78499 23.0911 8.71859L27.931 5.84131C28.3506 6.10661 28.8366 6.24821 29.3333 6.24984C30.806 6.24984 32 5.05583 32 3.58317C32 2.11051 30.806 0.916504 29.3333 0.916504V0.916504Z')
                .h3.display-4.text-white.pb-1.mb-2 100%
                p.card-text.text-white.opacity-70 Thanks to our platform, developed using advanced data management methods, data quality reaches 100%, which is 20% better than other platforms.


  // Tools
  section.container.overflow-hidden.pt-5.mt-md-3.mt-lg-2.mt-xl-4.mt-xxl-5
    .row.align-items-center.mt-2.pt-2.pt-sm-4.pt-lg-5
      .col-md-5.text-center.text-md-start.pe-md-5.pe-lg-0.pe-xxl-4.ps-xl-5.mb-5.mb-md-0
        h2.h1.pb-3.pb-xl-2.mb-lg-4.mb-xl-5 Join Around with your favorite tools that you use daily and keep things on track
        a(href='#').btn.btn-outline-primary.rounded-pill See all integrations
      .col-md-7.col-lg-6.offset-lg-1
        .position-relative.mx-auto(style='max-width: 510px;')
          img(
            src='assets/img/landing/saas-2/tools/circle-gray-1.png'
            style='animation: rotate-cw 100s linear infinite;'
            class='d-block d-dark-mode-none'
            alt='Circle'
          )
          img(
            src='assets/img/landing/saas-2/tools/circle-light-1.png'
            style='animation: rotate-cw 100s linear infinite;'
            class='d-none d-dark-mode-block'
            alt='Circle'
          )
          img(
            src='assets/img/landing/saas-2/tools/circle-gray-2.png'
            style='animation: rotate-ccw 50s linear infinite;'
            class='d-block d-dark-mode-none position-absolute top-0 start-0'
            alt='Circle'
          )
          img(
            src='assets/img/landing/saas-2/tools/circle-light-2.png'
            style='animation: rotate-ccw 50s linear infinite;'
            class='d-none d-dark-mode-block position-absolute top-0 start-0'
            alt='Circle'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-1.png'
            data-aos='fade'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='1200'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-2.png'
            data-aos='fade'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='450'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-3.png'
            data-aos='fade'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='600'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-4.png'
            data-aos='fade'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='750'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-5.png'
            data-aos='fade'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='900'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-6.png'
            data-aos='fade'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='1050'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-7.png'
            data-aos='zoom-in'
            data-aos-duration='600'
            data-aos-offset='250'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-8.png'
            data-aos='zoom-in'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='150'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-9.png'
            data-aos='zoom-in'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='300'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )


  // Resources (Carousel on screens < 992px)
  section.container.py-5.my-md-3.my-lg-2.my-xl-4.my-xxl-5
    .d-md-flex.align-items-center.pb-3.mb-md-3.mb-lg-4.mt-2.mt-sm-3.pt-2.pt-sm-4.pt-lg-5
      h2.h1.text-center.text-md-start.mb-4.mb-md-0.me-md-4 Resources for you
      ul(style='max-width: 408px;').nav.nav-pills.flex-nowrap.fs-sm.text-nowrap.overflow-auto.text-nowrap.w-100.mx-auto.me-md-0.mb-0.pb-3.pb-md-0
        li.nav-item.mb-0
          a(href='#').nav-link.border Articles
        li.nav-item.mb-0
          a(href='#').nav-link.border.active Case studies
        li.nav-item.mb-0
          a(href='#').nav-link.border Tutorrials
    
    // Swiper
    .swiper(data-swiper-options=`
      {
        "spaceBetween": 24,
        "pagination": {
          "el": ".swiper-pagination",
          "clickable": true
        },
        "breakpoints": {
          "576": { "slidesPerView": 2 },
          "992": { "slidesPerView": 3 }
        }
      }
    `)
      .swiper-wrapper

        // Item
        article.swiper-slide
          a(href='#')
            img(src='assets/img/landing/saas-2/resources/01.jpg' alt='Image').rounded-5
          h3.h4.pt-4
            a(href='#') Analytics for the HR department for the Klinos company
          p Sapien ultrices egestas at faucibus eu diam velit diam id amet nibh quam rutrum fermentum diam natoque scelerisque viverra molestie fames...
          .d-flex.flex-wrap.align-items-center.pt-1.mt-n2
            a(href='#').nav-link.text-muted.fs-sm.fw-normal.p-0.mt-2.me-3
              | 6
              i.ai-share.fs-lg.ms-1
            a(href='#').nav-link.text-muted.fs-sm.fw-normal.d-flex.align-items-end.p-0.mt-2
              | 12
              i.ai-message.fs-lg.ms-1
            span.fs-xs.opacity-20.mt-2.mx-3 |
            span.fs-sm.text-muted.mt-2 12 hours ago
            span.fs-xs.opacity-20.mt-2.mx-3 |
            a(href='#').badge.bg-faded-primary.text-primary.fs-xs.mt-2
              | Analytics

        // Item
        article.swiper-slide
          a(href='#')
            img(src='assets/img/landing/saas-2/resources/02.jpg' alt='Image').rounded-5
          h3.h4.pt-4
            a(href='#') Analytics for the Marketing department of Fast Inc.
          p Morbi et massa fames ac scelerisque sit commodo dignissim faucibus vel quisque proin lectus. Laoreet sem adipiscing sollicitudin erat massa...
          .d-flex.flex-wrap.align-items-center.pt-1.mt-n2
            a(href='#').nav-link.text-muted.fs-sm.fw-normal.p-0.mt-2.me-3
              | 10
              i.ai-share.fs-lg.ms-1
            a(href='#').nav-link.text-muted.fs-sm.fw-normal.d-flex.align-items-end.p-0.mt-2
              | 19
              i.ai-message.fs-lg.ms-1
            span.fs-xs.opacity-20.mt-2.mx-3 |
            span.fs-sm.text-muted.mt-2 3 days ago
            span.fs-xs.opacity-20.mt-2.mx-3 |
            a(href='#').badge.bg-faded-primary.text-primary.fs-xs.mt-2
              | Analytics

        // Item
        article.swiper-slide
          a(href='#')
            img(src='assets/img/landing/saas-2/resources/03.jpg' alt='Image').rounded-5
          h3.h4.pt-4
            a(href='#') Research data structuring and presentation in diagrams
          p Egestas in neque scelerisque semper sit at eu cursus faucibus velit cras at aliquam sed dictum at at orci curabitur dictumst viverra non pharetra...
          .d-flex.flex-wrap.align-items-center.pt-1.mt-n2
            a(href='#').nav-link.text-muted.fs-sm.fw-normal.p-0.mt-2.me-3
              | 21
              i.ai-share.fs-lg.ms-1
            a(href='#').nav-link.text-muted.fs-sm.fw-normal.d-flex.align-items-end.p-0.mt-2
              | 37
              i.ai-message.fs-lg.ms-1
            span.fs-xs.opacity-20.mt-2.mx-3 |
            span.fs-sm.text-muted.mt-2 5 days ago
            span.fs-xs.opacity-20.mt-2.mx-3 |
            a(href='#').badge.bg-faded-primary.text-primary.fs-xs.mt-2
              | Analytics

      // Pagination (bullets)
      .swiper-pagination.position-relative.bottom-0.mt-2.pt-4.d-lg-none
  
    // Read more button
    .text-center.pt-4.my-2.mt-lg-0.pt-lg-5.pb-sm-2.pb-md-4
      a(href='#').btn.btn-outline-primary.rounded-pill Read all case studies
  

  // CTA
  section.pt-2.pt-md-0
    .position-relative.pt-lg-3.pt-xl-4.pt-xxl-5
      .bg-primary.position-absolute.top-0.start-0.w-100.h-100.rounded-5.d-md-none(data-aos='zoom-in' data-aos-duration='700' data-aos-offset='300')
      .bg-primary.position-absolute.top-0.start-0.w-100.h-100.d-none.d-md-block(style='border-radius: 5rem 5rem 0 0;' data-aos='zoom-in' data-aos-duration='700' data-aos-offset='300')
      .container.dark-mode.px-4.px-sm-5.px-md-0.position-relative.zindex-2.pt-md-4.pt-lg-5.pb-sm-2.pb-md-3.pb-xl-4.pb-xxl-5
        .row.justify-content-center(data-aos='fade-up' data-aos-duration='500' data-aos-offset='300')
          .col-md-10.col-lg-8.col-xl-7.col-xxl-6.text-center.py-5
            h2.display-1.mb-4 New life for data begins today
            p.fs-xl.pb-3.mb-3.mb-lg-4 Using basic data skills you can analysis and improve your business indicators with Around.
            .d-sm-flex.justify-content-center
              a(href='#').btn.btn-lg.btn-warning.rounded-pill.w-100.w-sm-auto.me-sm-4.mb-3.mb-sm-0 Start free 14-day trial
              a(href='#').btn.btn-lg.btn-outline-warning.rounded-pill.w-100.w-sm-auto Request a demo
      .position-relative.zindex-2.px-md-5
        img(src='assets/img/landing/saas-2/dash-light.png' width='1076' alt='Image').d-block.d-dark-mode-none.mx-auto
        img(src='assets/img/landing/saas-2/dash-dark.png' width='1076' alt='Image').d-none.d-dark-mode-block.mx-auto


//- Footer
block footer
  include partials/footer-saas.pug
