extends partials/layout

//- Override default config variables
append config
  - var styles = ['vendor/aos/dist/aos.css']
  - var scripts = ['vendor/aos/dist/aos.js']
  - var parentMenu = 'Pages'
  - var pageTitle = 'Pricing'
  - var navbarExtraClass = 'bg-light'


//- Navbar
block navbar
  include partials/navbar.pug


//- Page Content
block content

  // Pricing plans
  section.container.py-5.mt-5.mb-lg-3.mb-xl-4.mb-xxl-5

    // Page title
    .text-center.pb-3.pt-lg-2.pt-xl-4.my-1.my-sm-3.my-lg-4
      h1.display-2 Pricing plans
      p.fs-lg.mb-0 Select a service plan that best suits your business needs
    
    // Plans
    .row.row-cols-3.flex-nowrap.pb-4.overflow-auto

      // Plan
      .col(style='min-width: 19rem;')
        .card.h-100.py-lg-4
          .card-body.w-100.mx-auto.text-center(style='max-width: 23rem;')
            h3 Light
            .display-2.text-primary $8
            .mb-4 per month
            p.mb-4.pb-4 Phasellus in hendrerit interdum lorem proin pretium dictum urna
            button(type='button').btn.btn-primary.w-100
              | Get this plan now

      // Plan
      .col(style='min-width: 19rem;')
        .card.border-primary.bg-primary.h-100.py-lg-4
          .card-body.w-100.mx-auto.text-center(style='max-width: 23rem;')
            h3.text-light Premium
            .display-2.text-light $72
            .text-light.opacity-70.mb-4 per month
            p.text-light.opacity-70.mb-4.pb-4 Morbi et massa fames ac scelerisque sit commodo dignissim aucibus
            button(type='button').btn.btn-light.w-100
              | Get this plan now

      // Plan
      .col(style='min-width: 19rem;')
        .card.h-100.py-lg-4
          .card-body.w-100.mx-auto.text-center(style='max-width: 23rem;')
            h3 Medium
            .display-2.text-primary $36
            .mb-4 per month
            p.mb-4.pb-4 Enim aenean phasellus in hendrerit interdum lorem proin pretium
            button(type='button').btn.btn-primary.w-100
              | Get this plan now


    // Comparison table
    .text-center.pt-md-1.pt-lg-2
      button(type='button' data-show-label='Compare plans' data-hide-label='Compare plans' data-bs-toggle='collapse' data-bs-target='#comparePlans').btn.btn-more.btn-link.fs-4
    #comparePlans.collapse.show
      .table-responsive.pt-sm-2.pt-lg-3
        table.table.text-center.text-nowrap
          thead
            tr
              th.border-0.py-3 &nbsp;
              th.border-0.py-3: span.h5.mb-0 Light
              th.border-0.py-3: span.h5.mb-0 Premium
              th.border-0.py-3: span.h5.mb-0 Medium
          tbody
            tr
              th.border-0.bg-secondary.rounded-3.rounded-end-0.text-start.py-3.ps-4
                span.text-body.fw-medium Billed monthly
              td.border-0.bg-secondary.py-3
                span.text-dark $18
              td.border-0.bg-secondary.py-3
                span.text-dark $72
              td.border-0.rounded-3.rounded-start-0.bg-secondary.py-3
                span.text-dark $36
            tr
              th.border-0.text-start.py-3.ps-4
                span.d-flex.align-items-center.text-body.fw-medium
                  | Members
                  i.ai-circle-info.fs-lg.ms-2(data-bs-toggle='popover' data-bs-trigger='hover' data-bs-placement='right' data-bs-html='true' data-bs-content='Feature description text')
              td.border-0.py-3
                span.text-dark Just you
              td.border-0.py-3
                span.text-dark Unlimited
              td.border-0.py-3
                span.text-dark 3 members
            tr
              th.border-0.bg-secondary.rounded-3.rounded-end-0.text-start.py-3.ps-4
                span.d-flex.align-items-center.text-body.fw-medium
                  | Guest access
                  i.ai-circle-info.fs-lg.ms-2(data-bs-toggle='popover' data-bs-trigger='hover' data-bs-placement='right' data-bs-html='true' data-bs-content='Feature description text')
              td.border-0.bg-secondary.py-3
                span.text-dark Just you
              td.border-0.bg-secondary.py-3
                span.text-dark Unlimited
              td.border-0.rounded-3.rounded-start-0.bg-secondary.py-3
                span.text-dark 3 members
            tr
              th.border-0.text-start.py-3.ps-4
                span.d-flex.align-items-center.text-body.fw-medium
                  | File uploads
                  i.ai-circle-info.fs-lg.ms-2(data-bs-toggle='popover' data-bs-trigger='hover' data-bs-placement='right' data-bs-html='true' data-bs-content='Feature description text')
              td.border-0.py-3
                span.text-dark 2 GB
              td.border-0.py-3
                span.text-dark 30 GB
              td.border-0.py-3
                span.text-dark 10 GB
            tr
              th.border-0.text-start.pt-4.pb-3.ps-4
                .h5.pt-1.mb-0 Collaboration
              th.border-0.py-3 &nbsp;
              th.border-0.py-3 &nbsp;
              th.border-0.py-3 &nbsp;
            tr
              th.border-0.bg-secondary.rounded-3.rounded-end-0.text-start.py-3.ps-4
                span.text-body.fw-medium Real-time collaboration
              td.border-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.rounded-3.rounded-start-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
            tr
              th.border-0.text-start.py-3.ps-4
                span.d-flex.align-items-center.text-body.fw-medium
                  | Link sharing
                  i.ai-circle-info.fs-lg.ms-2(data-bs-toggle='popover' data-bs-trigger='hover' data-bs-placement='right' data-bs-html='true' data-bs-content='Feature description text')
              td.border-0.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.py-3
                i.ai-check.fs-xl.text-success
            tr
              th.border-0.bg-secondary.rounded-3.rounded-end-0.text-start.py-3.ps-4
                span.d-flex.align-items-center.text-body.fw-medium
                  | Collaborative workspace
                  i.ai-circle-info.fs-lg.ms-2(data-bs-toggle='popover' data-bs-trigger='hover' data-bs-placement='right' data-bs-html='true' data-bs-content='Feature description text')
              td.border-0.bg-secondary.py-3
                i.ai-cross.fs-xl.text-danger
              td.border-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.rounded-3.rounded-start-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
            tr
              th.border-0.text-start.py-3.ps-4
                span.d-flex.align-items-center.text-body.fw-medium
                  | Filter views
                  i.ai-circle-info.fs-lg.ms-2(data-bs-toggle='popover' data-bs-trigger='hover' data-bs-placement='right' data-bs-html='true' data-bs-content='Feature description text')
              td.border-0.py-3
                span.text-dark 3
              td.border-0.py-3
                span.text-dark Unlimited
              td.border-0.py-3
                span.text-dark 12
            tr
              th.border-0.bg-secondary.rounded-3.rounded-end-0.text-start.py-3.ps-4
                span.d-flex.align-items-center.text-body.fw-medium
                  | Teams
                  i.ai-circle-info.fs-lg.ms-2(data-bs-toggle='popover' data-bs-trigger='hover' data-bs-placement='right' data-bs-html='true' data-bs-content='Feature description text')
              td.border-0.bg-secondary.py-3
                i.ai-cross.fs-xl.text-danger
              td.border-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.rounded-3.rounded-start-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
            tr
              th.border-0.text-start.pt-4.pb-3.ps-4
                .h5.pt-3.mb-0 Features
              th.border-0.py-3 &nbsp;
              th.border-0.py-3 &nbsp;
              th.border-0.py-3 &nbsp;
            tr
              th.border-0.bg-secondary.rounded-3.rounded-end-0.text-start.py-3.ps-4
                span.text-body.fw-medium Web, desktop, &amp; mobile apps
              td.border-0.bg-secondary.py-3
                i.ai-cross.fs-xl.text-danger
              td.border-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.rounded-3.rounded-start-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
            tr
              th.border-0.text-start.py-3.ps-4
                span.d-flex.align-items-center.text-body.fw-medium
                  | Reminders
                  i.ai-circle-info.fs-lg.ms-2(data-bs-toggle='popover' data-bs-trigger='hover' data-bs-placement='right' data-bs-html='true' data-bs-content='Feature description text')
              td.border-0.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.py-3
                i.ai-check.fs-xl.text-success
            tr
              th.border-0.bg-secondary.rounded-3.rounded-end-0.text-start.py-3.ps-4
                span.text-body.fw-medium Priorities
              td.border-0.bg-secondary.py-3
                i.ai-cross.fs-xl.text-danger
              td.border-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.rounded-3.rounded-start-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
            tr
              th.border-0.text-start.py-3.ps-4
                span.d-flex.align-items-center.text-body.fw-medium
                  | Comments
                  i.ai-circle-info.fs-lg.ms-2(data-bs-toggle='popover' data-bs-trigger='hover' data-bs-placement='right' data-bs-html='true' data-bs-content='Feature description text')
              td.border-0.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.py-3
                i.ai-check.fs-xl.text-success
            tr
              th.border-0.bg-secondary.rounded-3.rounded-end-0.text-start.py-3.ps-4
                span.text-body.fw-medium Integrations
              td.border-0.bg-secondary.py-3
                span.text-dark 5
              td.border-0.bg-secondary.py-3
                span.text-dark Unlimited
              td.border-0.rounded-3.rounded-start-0.bg-secondary.py-3
                span.text-dark 15
            tr
              th.border-0.text-start.pt-4.pb-3.ps-4
                .h5.pt-3.mb-0 Admin &amp; security
              th.border-0.py-3 &nbsp;
              th.border-0.py-3 &nbsp;
              th.border-0.py-3 &nbsp;
            tr
              th.border-0.bg-secondary.rounded-3.rounded-end-0.text-start.py-3.ps-4
                span.d-flex.align-items-center.text-body.fw-medium
                  | Admin &amp; member roles
                  i.ai-circle-info.fs-lg.ms-2(data-bs-toggle='popover' data-bs-trigger='hover' data-bs-placement='right' data-bs-html='true' data-bs-content='Feature description text')
              td.border-0.bg-secondary.py-3
                i.ai-cross.fs-xl.text-danger
              td.border-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.rounded-3.rounded-start-0.bg-secondary.py-3
                i.ai-cross.fs-xl.text-danger
            tr
              th.border-0.text-start.py-3.ps-4
                span.text-body.fw-medium Team billing
              td.border-0.py-3
                i.ai-cross.fs-xl.text-danger
              td.border-0.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.py-3
                i.ai-cross.fs-xl.text-danger
            tr
              th.border-0.bg-secondary.rounded-3.rounded-end-0.text-start.py-3.ps-4
                span.d-flex.align-items-center.text-body.fw-medium
                  | Priority support
                  i.ai-circle-info.fs-lg.ms-2(data-bs-toggle='popover' data-bs-trigger='hover' data-bs-placement='right' data-bs-html='true' data-bs-content='Feature description text')
              td.border-0.bg-secondary.py-3
                i.ai-cross.fs-xl.text-danger
              td.border-0.bg-secondary.py-3
                i.ai-check.fs-xl.text-success
              td.border-0.rounded-3.rounded-start-0.bg-secondary.py-3
                i.ai-cross.fs-xl.text-danger
            tr
              td.border-0.pt-4 &nbsp;
              td.border-0.pt-4
                button(type='button').btn.btn-outline-primary.mt-3
                  | Get started $18
              td.border-0.pt-4
                button(type='button').btn.btn-outline-primary.mt-3
                  | Get started $72
              td.border-0.pt-4
                button(type='button').btn.btn-outline-primary.mt-3
                  | Get started $36


  // Testimonials (tabs)
  section.container.mt-n3.mt-sm-0.py-md-3.py-lg-4
    h2.text-center.pb-3.mb-lg-4 More than 2,000 clients using Around to analyze data

    // Nav tabs
    .overflow-auto.pb-3.pb-xl-4.mb-3.mb-lg-4
      ul(role='tablist' style='min-width: 1000px;').nav.nav-tabs.justify-content-between.flex-nowrap.text-nowrap.p-0.m-0
        li.nav-item.mb-0
          a(href='#foster' data-bs-toggle='tab' role='tab').nav-link.active
            .swap-image
              img(src='assets/img/landing/saas-1/brands/foster-color.svg' width='140' alt='Foster').swap-to
              .swap-from
                img(src='assets/img/landing/saas-1/brands/foster-gray.svg' width='140' alt='Foster').d-dark-mode-none
                img(src='assets/img/landing/saas-1/brands/foster-light.svg' width='140' alt='Foster').d-none.d-dark-mode-block
        li.nav-item.mb-0
          a(href='#klinos' data-bs-toggle='tab' role='tab').nav-link
            .swap-image
              img(src='assets/img/landing/saas-1/brands/klinos-color.svg' width='131' alt='Klinos').swap-to
              .swap-from
                img(src='assets/img/landing/saas-1/brands/klinos-gray.svg' width='131' alt='Klinos').d-dark-mode-none
                img(src='assets/img/landing/saas-1/brands/klinos-light.svg' width='131' alt='Klinos').d-none.d-dark-mode-block
        li.nav-item.mb-0
          a(href='#champion' data-bs-toggle='tab' role='tab').nav-link
            .swap-image
              img(src='assets/img/landing/saas-1/brands/champion-color.svg' width='162' alt='Champion').swap-to
              .swap-from
                img(src='assets/img/landing/saas-1/brands/champion-gray.svg' width='162' alt='Champion').d-dark-mode-none
                img(src='assets/img/landing/saas-1/brands/champion-light.svg' width='162' alt='Champion').d-none.d-dark-mode-block
        li.nav-item.mb-0
          a(href='#airbnb' data-bs-toggle='tab' role='tab').nav-link
            .swap-image
              img(src='assets/img/landing/saas-1/brands/airbnb-color.svg' width='132' alt='Airbnb').swap-to
              .swap-from
                img(src='assets/img/landing/saas-1/brands/airbnb-gray.svg' width='132' alt='Airbnb').d-dark-mode-none
                img(src='assets/img/landing/saas-1/brands/airbnb-light.svg' width='132' alt='Airbnb').d-none.d-dark-mode-block
        li.nav-item.mb-0
          a(href='#starcraft' data-bs-toggle='tab' role='tab').nav-link
            .swap-image
              img(src='assets/img/landing/saas-1/brands/starcraft-color.svg' width='158' alt='StarCraft').swap-to
              .swap-from
                img(src='assets/img/landing/saas-1/brands/starcraft-gray.svg' width='158' alt='StarCraft').d-dark-mode-none
                img(src='assets/img/landing/saas-1/brands/starcraft-light.svg' width='158' alt='StarCraft').d-none.d-dark-mode-block
        li.nav-item.mb-0
          a(href='#alpine' data-bs-toggle='tab' role='tab').nav-link
            .swap-image
              img(src='assets/img/landing/saas-1/brands/alpine-color.svg' width='146' alt='Alpine').swap-to
              .swap-from
                img(src='assets/img/landing/saas-1/brands/alpine-gray.svg' width='146' alt='Alpine').d-dark-mode-none
                img(src='assets/img/landing/saas-1/brands/alpine-light.svg' width='146' alt='Alpine').d-none.d-dark-mode-block


    // Tabs content
    .card.border-0.bg-secondary
      .tab-content.card-body.px-lg-0.py-lg-5

        // Testimonial (active tab)
        #foster.tab-pane.fade.show.active(role='tabpanel')
          .row.py-2.py-sm-1.py-md-3.py-lg-4.py-xl-5
            .col-md-4.col-lg-3.offset-lg-1.mb-3.mb-md-0
              img(src='assets/img/avatar/13.jpg' width='86' alt='Lilianna Bocouse').d-block.rounded-circle.mb-3
              h4.mb-0 Lilianna Bocouse
              p.fs-lg.text-muted.mb-0 Head of Marketing
            .col-md-8.col-lg-7
              p.text-dark.lead.mb-0 “Around provides us with the detailed and accurate data we need to make strategic decisions. All tools are constantly being improved and contain a lot of useful and interesting information. Thanks to Around, we can constantly analyze our big data quickly and efficiently.”

        // Testimonial (tab)
        #klinos.tab-pane.fade(role='tabpanel')
          .row.py-2.py-sm-1.py-md-3.py-lg-4.py-xl-5
            .col-md-4.col-lg-3.offset-lg-1.mb-3.mb-md-0
              img(src='assets/img/avatar/14.jpg' width='86' alt='Darell Steward').d-block.rounded-circle.mb-3
              h4.mb-0 Darell Steward
              p.fs-lg.text-muted.mb-0 Project Manager
            .col-md-8.col-lg-7
              p.text-dark.lead.mb-0 “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac pretium dui. Aliquam rutrum justo lorem, in efficitur odio efficitur vel. Integer mattis, neque malesuada sagittis porttitor, enim tortor ullamcorper diam, id eleifend sem mauris at turpis. Curabitur sed nisi nec ligula dictum maximus eu ut ante.”

        // Testimonial (tab)
        #champion.tab-pane.fade(role='tabpanel')
          .row.py-2.py-sm-1.py-md-3.py-lg-4.py-xl-5
            .col-md-4.col-lg-3.offset-lg-1.mb-3.mb-md-0
              img(src='assets/img/avatar/15.jpg' width='86' alt='Annette Black').d-block.rounded-circle.mb-3
              h4.mb-0 Annette Black
              p.fs-lg.text-muted.mb-0 Lead Designer
            .col-md-8.col-lg-7
              p.text-dark.lead.mb-0 “Quisque rutrum sit amet magna sit amet tristique. Vivamus rhoncus ac purus vitae convallis. Aliquam erat volutpat. Proin egestas, mauris ut semper semper, ipsum felis mattis ligula, et porttitor ante arcu nec ante. Aliquam congue est eu turpis sollicitudin, et ullamcorper tortor aliquam.”

        // Testimonial (tab)
        #airbnb.tab-pane.fade(role='tabpanel')
          .row.py-2.py-sm-1.py-md-3.py-lg-4.py-xl-5
            .col-md-4.col-lg-3.offset-lg-1.mb-3.mb-md-0
              img(src='assets/img/avatar/16.jpg' width='86' alt='Ralph Edwards').d-block.rounded-circle.mb-3
              h4.mb-0 Ralph Edwards
              p.fs-lg.text-muted.mb-0 CEO, Co-Founder
            .col-md-8.col-lg-7
              p.text-dark.lead.mb-0 “Vestibulum faucibus lectus eget augue pharetra, quis semper lectus gravida. Vestibulum pretium in elit sed iaculis. Curabitur elementum turpis at ipsum molestie, id maximus odio tincidunt. Praesent id lacinia orci. Phasellus at varius arcu. Ut nec lobortis velit. Mauris vel risus quis lacus placerat fringilla.”

        // Testimonial (tab)
        #starcraft.tab-pane.fade(role='tabpanel')
          .row.py-2.py-sm-1.py-md-3.py-lg-4.py-xl-5
            .col-md-4.col-lg-3.offset-lg-1.mb-3.mb-md-0
              img(src='assets/img/avatar/17.jpg' width='86' alt='Jane Cooper').d-block.rounded-circle.mb-3
              h4.mb-0 Jane Cooper
              p.fs-lg.text-muted.mb-0 Strategic Advisor
            .col-md-8.col-lg-7
              p.text-dark.lead.mb-0 “Morbi at fermentum enim, pulvinar malesuada quam. Morbi sit amet tellus luctus, vulputate arcu nec, consectetur diam. Proin est lacus, interdum ac aliquam sit amet, aliquam eget leo. Donec condimentum erat quam, tincidunt tempus augue consectetur a. Donec quis purus dictum, iaculis mi fringilla.”

        // Testimonial (tab)
        #alpine.tab-pane.fade(role='tabpanel')
          .row.py-2.py-sm-1.py-md-3.py-lg-4.py-xl-5
            .col-md-4.col-lg-3.offset-lg-1.mb-3.mb-md-0
              img(src='assets/img/avatar/18.jpg' width='86' alt='Albert Flores').d-block.rounded-circle.mb-3
              h4.mb-0 Albert Flores
              p.fs-lg.text-muted.mb-0 Business Analyst
            .col-md-8.col-lg-7
              p.text-dark.lead.mb-0 “Phasellus at varius arcu. Ut nec lobortis velit. Mauris vel risus quis lacus placerat fringilla. Aliquam congue risus tortor, sed posuere leo faucibus sed. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut dui ante, rutrum eget vehicula sed.”


  // Tools
  section.container.overflow-hidden.py-5.mt-2.mt-sm-3.my-2.my-lg-4.my-xl-5
    .row.align-items-center.pb-1.pb-sm-3.pb-md-4
      .col-md-5.text-center.text-md-start.pe-md-5.pe-lg-0.pe-xxl-4.ps-xl-5.mb-5.mb-md-0
        h2.h1.pb-3.pb-xl-2.mb-lg-4.mb-xl-5 Join Around with your favorite tools that you use daily and keep things on track
        a(href='#').btn.btn-primary See all integrations
      .col-md-7.col-lg-6.offset-lg-1
        .position-relative.mx-auto(style='max-width: 510px;')
          img(
            src='assets/img/landing/saas-2/tools/circle-gray-1.png'
            style='animation: rotate-cw 100s linear infinite;'
            class='d-block d-dark-mode-none'
            alt='Circle'
          )
          img(
            src='assets/img/landing/saas-2/tools/circle-light-1.png'
            style='animation: rotate-cw 100s linear infinite;'
            class='d-none d-dark-mode-block'
            alt='Circle'
          )
          img(
            src='assets/img/landing/saas-2/tools/circle-gray-2.png'
            style='animation: rotate-ccw 50s linear infinite;'
            class='d-block d-dark-mode-none position-absolute top-0 start-0'
            alt='Circle'
          )
          img(
            src='assets/img/landing/saas-2/tools/circle-light-2.png'
            style='animation: rotate-ccw 50s linear infinite;'
            class='d-none d-dark-mode-block position-absolute top-0 start-0'
            alt='Circle'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-1.png'
            data-aos='fade'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='1200'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-2.png'
            data-aos='fade'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='450'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-3.png'
            data-aos='fade'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='600'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-4.png'
            data-aos='fade'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='750'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-5.png'
            data-aos='fade'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='900'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-6.png'
            data-aos='fade'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='1050'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-7.png'
            data-aos='zoom-in'
            data-aos-duration='600'
            data-aos-offset='250'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-8.png'
            data-aos='zoom-in'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='150'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )
          img(
            src='assets/img/landing/saas-2/tools/icon-9.png'
            data-aos='zoom-in'
            data-aos-duration='600'
            data-aos-offset='250'
            data-aos-delay='300'
            class='position-absolute top-0 start-0 zindex-2'
            alt='Icon'
          )


  // FAQ (Accordion)
  section.bg-secondary.py-5
    .container.py-lg-3.py-xl-5
      .row.pt-1.pb-2.py-sm-4
        .col-md-4.text-center.text-md-start
          h2.h1 Any questions? Check out the FAQ
          p.pb-3.pb-sm-4 Et felis vitae ac venenatis lacus cras etiam risus scelerisque auctor adipiscing in a porta
          .d-none.d-md-flex.justify-content-center
            svg(width='200' height='211' viewBox='0 0 200 211' fill='none' xmlns='http://www.w3.org/2000/svg').text-warning.ms-n4
              path(d='M198.804 194.488C189.279 189.596 179.529 185.52 169.407 182.07L169.384 182.049C169.227 181.994 169.07 181.939 168.912 181.884C166.669 181.139 165.906 184.546 167.669 185.615C174.053 189.473 182.761 191.837 189.146 195.695C156.603 195.912 119.781 196.591 91.266 179.049C62.5221 161.368 48.1094 130.695 56.934 98.891C84.5539 98.7247 112.556 84.0176 129.508 62.667C136.396 53.9724 146.193 35.1448 129.773 30.2717C114.292 25.6624 93.7109 41.8875 83.1971 51.3147C70.1109 63.039 59.63 78.433 54.2039 95.0087C52.1221 94.9842 50.0776 94.8683 48.0703 94.6608C30.1803 92.8027 11.2197 83.6338 5.44902 65.1074C-1.88449 41.5699 14.4994 19.0183 27.9202 1.56641C28.6411 0.625793 27.2862 -0.561638 26.5419 0.358501C13.4588 16.4098 -0.221091 34.5242 0.896608 56.5659C1.8218 74.6941 14.221 87.9401 30.4121 94.2058C37.7076 97.0203 45.3454 98.5003 53.0334 98.8449C47.8679 117.532 49.2961 137.487 60.7729 155.283C87.7615 197.081 139.616 201.147 184.786 201.155L174.332 206.827C172.119 208.033 174.345 211.287 176.537 210.105C182.06 207.125 187.582 204.122 193.084 201.144C193.346 201.147 195.161 199.887 195.423 199.868C197.08 198.548 193.084 201.144 195.528 199.81C196.688 199.192 197.846 198.552 199.006 197.935C200.397 197.167 200.007 195.087 198.804 194.488ZM60.8213 88.0427C67.6894 72.648 78.8538 59.1566 92.1207 49.0388C98.8475 43.9065 106.334 39.2953 114.188 36.1439C117.295 34.8947 120.798 33.6609 124.168 33.635C134.365 33.5511 136.354 42.9911 132.638 51.031C120.47 77.4222 86.8639 93.9837 58.0983 94.9666C58.8971 92.6666 59.783 90.3603 60.8213 88.0427Z' fill='currentColor')
        .col-md-8.col-lg-7.offset-lg-1
          #faq.accordion
            .accordion-item.bg-light
              h3#headingOne.accordion-header
                button(type='button' data-bs-toggle='collapse' data-bs-target='#questionOne' aria-expanded='true' aria-controls='questionOne').accordion-button Is there a free trial?
              #questionOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#faq')
                .accordion-body.fs-sm
                  | Adipiscing sagittis neque egestas id platea accumsan. Morbi inpa platea urna curabitur habitant pulvinar lacinia neque. Netus gravida amet, aliquam quam turpis aliquet cras. Find aute irure dolor in reprehenderit voluptate velit esse cillum dolore eu nulla pariatur. Sit amet, adipiscing elit.
            .accordion-item.bg-light
              h3#headingTwo.accordion-header
                button(type='button' data-bs-toggle='collapse' data-bs-target='#questionTwo' aria-expanded='false' aria-controls='questionTwo').accordion-button.collapsed How do refunds work?
              #questionTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#faq')
                .accordion-body.fs-sm
                  | Quisque rutrum sit amet magna sit amet tristique. Vivamus rhoncus ac purus vitae convallis. Aliquam erat volutpat. Proin egestas, mauris ut semper semper, ipsum felis mattis ligula, et porttitor ante arcu nec ante. Aliquam congue est eu turpis sollicitudin, et ullamcorper tortor aliquam.
            .accordion-item.bg-light
              h3#headingThree.accordion-header
                button(type='button' data-bs-toggle='collapse' data-bs-target='#questionThree' aria-expanded='false' aria-controls='questionThree').accordion-button.collapsed Do you offer student discounts?
              #questionThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#faq')
                .accordion-body.fs-sm
                  | Proin ac quam eget velit luctus tincidunt vel in nunc. Maecenas cursus erat lacus, id interdum elit accumsan in. Mauris placerat dapibus sem, condimentum interdum nulla varius ac. Mauris quam mauris, rhoncus et tortor vel, tempus dignissim libero. Curabitur sed odio in odio elementum cursus.
            .accordion-item.bg-light
              h3#headingFour.accordion-header
                button(type='button' data-bs-toggle='collapse' data-bs-target='#questionFour' aria-expanded='false' aria-controls='questionFour').accordion-button.collapsed What happens if I run out of credit?
              #questionFour.accordion-collapse.collapse(aria-labelledby='headingFour' data-bs-parent='#faq')
                .accordion-body.fs-sm
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac pretium dui. Aliquam rutrum justo lorem, in efficitur odio efficitur vel. Integer mattis, neque malesuada sagittis porttitor, enim tortor ullamcorper diam, id eleifend sem mauris at turpis. Curabitur sed nisi nec ligula dictum.
            .accordion-item.bg-light
              h3#headingFive.accordion-header
                button(type='button' data-bs-toggle='collapse' data-bs-target='#questionFive' aria-expanded='false' aria-controls='questionFive').accordion-button.collapsed Do you have monthly and yearly billing options?
              #questionFive.accordion-collapse.collapse(aria-labelledby='headingFive' data-bs-parent='#faq')
                .accordion-body.fs-sm
                  | Vestibulum faucibus lectus eget augue pharetra, quis semper lectus gravida. Vestibulum pretium in elit sed iaculis. Curabitur elementum turpis at ipsum molestie, id maximus odio tincidunt. Praesent id lacinia orci. Phasellus at varius arcu. Ut nec lobortis velit.
            .accordion-item.bg-light
              h3#headingSix.accordion-header
                button(type='button' data-bs-toggle='collapse' data-bs-target='#questionSix' aria-expanded='false' aria-controls='questionSix').accordion-button.collapsed What happens when I change plans?
              #questionSix.accordion-collapse.collapse(aria-labelledby='headingSix' data-bs-parent='#faq')
                .accordion-body.fs-sm
                  | Nunc non placerat mi, sit amet hendrerit lacus. Quisque cursus lorem vitae placerat ultrices. Morbi ut orci sit amet quam vulputate lobortis. Donec vulputate mi nec nisi tincidunt commodo. Nullam efficitur tincidunt tellus accumsan pellentesque. Suspendisse elementum blandit orci.
            .accordion-item.bg-light
              h3#headingSeven.accordion-header
                button(type='button' data-bs-toggle='collapse' data-bs-target='#questionSeven' aria-expanded='false' aria-controls='questionSeven').accordion-button.collapsed How do I cancel my paid plan?
              #questionSeven.accordion-collapse.collapse(aria-labelledby='headingSeven' data-bs-parent='#faq')
                .accordion-body.fs-sm
                  | Morbi a consequat diam. Fusce sit amet faucibus erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque id est dictum, suscipit neque id, ornare nibh. Cras lacinia, est non ultrices porttitor, arcu orci rhoncus leo, egestas condimentum lorem.


//- Footer
block footer
  include partials/footer-saas.pug
